<ion-content>
  <app-reauthenticate-wall defaultMethod="password">
    <app-center-layout message="Change password">
      <!-- Change password form -->
      <form [formGroup]="changePasswordForm" (ngSubmit)="handlePasswordChange()">
        <ion-item>
          <ion-label position="floating">New password</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirm password</ion-label>
          <ion-input formControlName="passwordConfirmation" type="password"></ion-input>
        </ion-item>
        <button type="submit" [disabled]="!changePasswordForm.valid" class="ion-hide">Change password</button>
        <ion-item button type="submit" detail="false" [disabled]="!changePasswordForm.valid" (click)="handlePasswordChange()">
          <ion-icon slot="start" name="key-outline" color="success"></ion-icon>
          <ion-label>
            Change password
          </ion-label>
        </ion-item>
      </form>
      <!-- More actions -->
      <app-cancel-button></app-cancel-button>
    </app-center-layout>
  </app-reauthenticate-wall>
</ion-content>
